/* Navbar.scss */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    background-color: white;
    // position: sticky;
    position: relative;
    top: 0;
    z-index: 1;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    
    &__left {
      display: flex;
      align-items: center;
      margin: 10px;
      
      img {
        height: 30px;
        margin-right: 10px;
      }
    }
    
    &__right {
      display: flex;
      align-items: center;

  

    .navigation-icons {
        display: flex;
        justify-content: center;
      
        .navigation-icon {
          position: relative;
          margin: 10px;
          text-align: center;
          cursor: pointer;
          padding: 20px;
          color: rgb(30, 80, 216);
          &:hover .icon-name {
            display: block;

          }
      
          .icon {
            font-size: 40px;
            color: #000;
          }
      
          .icon-name {
            display: none;
            position: absolute;
            top: 80%;
            left: 30%;
            transform: translate(-25%, -25%);
            background-color: #f53b57;
            padding: 5px 5px;
            border-radius: 10px;
            color: rgb(255, 255, 255);
          }
        }
      
        &:after {
          content: "";
          display: block;
          clear: both;
        }
      }
    }
  }
  